.auth-form__input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-bottom: 2px solid #CCCCCC;;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.auth-form__input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.auth-form__input::-moz-placeholder {
  color: #CCCCCC;
}

.auth-form__input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #000 !important;
 -webkit-text-fill-color: #fff !important;
 color: #fff !important;
}