.auth-form__submit {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  background: #ffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 185px;
  transition: 0.5s;
}

.auth-form__submit:hover {
  opacity: 0.8;
}
